@import "tailwindcss";

:root {
  --background: #F0B6CF;
  --foreground: #2E2805;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cherry: var(--font-cherry);
  --font-delius: var(--font-delius);
}

.font-cherry {
  font-family: var(--font-cherry);
}

.font-delius {
  font-family: var(--font-delius);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
